@model ForgotPasswordViewModel
<!--====== Section 1 ======-->
<div class="u-s-p-y-30">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="is-marked">

                            <a href="#">Quên mật khẩu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-30">
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row row--center">
                <div class="col-lg-6 col-md-8 u-s-m-b-30">
                    <div class="l-f-o">
                        <div class="l-f-o__pad-box">
                            <h1 class="u-s-m-b-30" style="text-align: center; align-items: center; font-size: 35px; line-height: 30px; color: black">Quên Mật Khẩu</h1>
                            <form class="l-f-o__form" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-error u-s-m-b-15"></div>
                                <div class="u-s-m-b-30">
                                    <label class="gl-label" for="reset-email">Email <sup>*</sup></label>
                                    <input class="input-text input-text--primary-style" type="email" name="Email" asp-for="Email" id="reset-email" style="align-items: center; text-align: center;font-size: 16px" placeholder="Nhập Email">
                                    <span asp-validation-for="Email" class="text-error"></span>
                                </div>
                                <div class="u-s-m-b-30">
                                    <button class="btn btn--e-transparent-brand-b-2" type="submit">Gửi Mật Khẩu Cho Tôi</button>
                                </div>
                                <div class="u-s-m-b-30">
                                    <a class="gl-link" href="/login.html">Quay lại trang đăng nhập</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->