@using Kinh_Doanh_Khoa_Hoc_Truc_Tuyen_Domain.Enums
@model ManageOrderViewModel
<!--====== Section 1 ======-->
<div class="u-s-p-y-30">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="is-marked">

                            <a href="#">Đơn hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-30">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">

                        <!--====== Dashboard Features ======-->
                        @await Component.InvokeAsync("DashboardFeatures", Model.NameDash)
                        <!--====== End - Dashboard Features ======-->
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                @if (Model.OrderViewModels.Items.Any())
                                {
                                    <h1 class="dash__h1 u-s-m-b-15">Đơn hàng</h1>
                                    <form class="m-order u-s-m-b-30" method="get">
                                        <div class="m-order__select-wrapper">
                                            <label class="u-s-m-r-8" for="my-order-sort">Lọc:</label>
                                            <select class="select-box select-box--primary-style" id="my-order-sort" name="sortBy" asp-for="SortType"
                                                    onchange="this.form.submit()" asp-items="Model.SortTypes"></select>
                                        </div>
                                    </form>
                                    <div class="m-order__list">
                                        @foreach (var modelOrderViewModel in Model.OrderViewModels.Items)
                                        {
                                            <div class="m-order__get">
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="dash-l-r">
                                                        <div>
                                                            <div class="manage-o__text-2 u-c-secondary">Mã đơn hàng #@modelOrderViewModel.Id</div>
                                                            <div class="manage-o__text u-c-silver">Ngày tạo: @modelOrderViewModel.CreationTime</div>
                                                        </div>
                                                        <div>
                                                            <div class="dash__link dash__link--brand">

                                                                <a href="/track-order-detail.html?orderId=@modelOrderViewModel.Id">Chi tiết</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (modelOrderViewModel.OrderDetails.Any())
                                                {
                                                    <div class="manage-o__description">
                                                        <div class="description__container">
                                                            <div class="description__img-wrap">
                                                                @{
                                                                    var img = "https://localhost:44342" + modelOrderViewModel.ImageUser;
                                                                }
                                                                <img class="u-img-fluid" style="min-height: 90px;background-repeat: no-repeat;background-position: center;background-size: cover;" src="@img" alt="">
                                                            </div>
                                                            <div class="description-title" style="text-align: justify; align-items: center">@modelOrderViewModel.Message</div>
                                                        </div>
                                                        <div class="description__info-wrap">
                                                            <div class="u-s-m-b-10">
                                                                @if (modelOrderViewModel.Status == OrderStatus.InProgress)
                                                                {
                                                                    <span class="manage-o__badge badge--processing">Đang xử lý</span>
                                                                }
                                                                else if (modelOrderViewModel.Status == OrderStatus.New)
                                                                {
                                                                    <span class="manage-o__badge badge--shipped">Đơn mới</span>
                                                                }
                                                                else if (modelOrderViewModel.Status == OrderStatus.Cancelled)
                                                                {
                                                                    <span class="manage-o__badge" style="background-color: #bbe1ff;color: #fa059e;">Hủy đơn</span>
                                                                }
                                                                else if (modelOrderViewModel.Status == OrderStatus.Returned)
                                                                {
                                                                    <span class="manage-o__badge" style="background-color: #b9f4a5;color: #c31d1a;">Trả hàng</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="manage-o__badge badge--delivered">Hoàn thành</span>
                                                                }
                                                            </div>
                                                            <div>
                                                                <span class="manage-o__text-2 u-c-silver">
                                                                    Tổng cộng:
                                                                    <span class="manage-o__text-2 u-c-secondary">@modelOrderViewModel.Total</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                    <div class="u-s-p-y-30">
                                        <!--====== Pagination ======-->
                                        @await Component.InvokeAsync("Pager", Model.OrderViewModels)
                                        <!--====== End - Pagination ======-->
                                    </div>
                                }
                                else
                                {
                                    <h1 class="dash__h1 u-s-m-b-15" style="margin: 0;padding: 0;text-align: center; align-items: center; font-size: 14px; line-height: 1.9; color: black">Không có đơn hàng nào cả!</h1>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->