<div class="animated fadeIn">
    <p-panel #pnl>
        <p-header>
            <div class="p-grid">
                <div class="p-col-12">
                    <h3>{{dialogTitle}}</h3>
                </div>
            </div>
        </p-header>
        <form class="form-horizontal form-label-left" novalidate [formGroup]="entityForm" (ngSubmit)="saveChange()">
            <div class="p-grid-pad p-fluid p-grid-responsive">
                <input type="hidden" readonly pInputText formControlName="id">
                <div style="align-items: center;" class="p-field p-grid">
                    <div class="p-col-2">
                        <span class="required">Tài khoản:</span>
                    </div>
                    <div class="p-col-6">
                        <input type="text" pInputText formControlName="userName">
                    </div>
                </div>
                <div style="align-items: center;" class="p-field p-grid">
                    <div class="p-col-2">
                        <span class="required">Mật khẩu hiện tại:</span>
                    </div>
                    <div class="p-col-6">
                        <input type="password" pInputText formControlName="currentPassword">
                    </div>
                    <div class="p-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="currentPassword" [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>
                <div style="align-items: center;" class="p-field p-grid">
                    <div class="p-col-2">
                        <span class="required">Mật khẩu mới:</span>
                    </div>
                    <div class="p-col-6">
                        <input type="password" pInputText formControlName="newPassword">
                    </div>
                    <div class="p-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="newPassword" [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>
                <div style="align-items: center;" class="p-field p-grid">
                    <div class="p-col-2">
                        <span class="required">Xác nhận mật khẩu mới:</span>
                    </div>
                    <div class="p-col-6">
                        <input type="password" pInputText formControlName="confirmPassword">
                    </div>
                    <div class="p-col-4">
                        <app-validation-message [entityForm]="entityForm" fieldName="confirmPassword" [validationMessages]="validation_messages"></app-validation-message>
                    </div>
                </div>
            </div>
        </form>
        <p-footer>
            <button pButton type="button" style="margin-right: 5px;" [disabled]="!entityForm.valid" class="p-button-success" label="Lưu lại" icon="fa fa-floppy-o" (click)="saveChange()"></button>
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}" strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
            </p-blockUI>
        </p-footer>
    </p-panel>
</div>