<div class="animated fadeIn">
    <p-panel #pnl>
        <p-header style="width: 100%">
            <div class="p-grid">
                <div class="p-col-12">
                    <h3>Danh sách sự kiện</h3>
                </div>
                <div class="p-col-6">
                    <button style="margin-right: 5px;" apPermission appFunction="Promotions" appAction="Create" pButton type="button" label="Thêm" icon="fa fa-plus" (click)="showAddModal()"></button>
                    <button style="margin-right: 5px;" appPermission appFunction="Promotions" appAction="Update" pButton type="button" label="Sửa" icon="fa fa-edit" class="p-button-warning" *ngIf="selectedItems.length== 1" (click)="showEditModal()"></button>
                    <button style="margin-right: 5px;" appPermission appFunction="Promotions" appAction="Delete" pButton type="button" label="Xóa" icon="fa fa-trash" class="p-button-danger" *ngIf="selectedItems.length > 0" (click)="deleteItems()"></button>
                    <button style="margin-right: 5px;" appPermission appFunction="Promotions" appAction="Update" pButton type="button" label="Thông báo sự kiện" icon="fa fa-bell" class="p-button-help" *ngIf="selectedItems.length == 1 && checkPromotion()" (click)="sendAnnouncement()"></button>
                </div>
                <div class="p-col-3">
                    <p-checkbox label="Áp dụng cho khóa học" class="p-pt-2 p-text-center" [(ngModel)]="showCourses" (click)="showHideCourseTable()" binary="true">
                    </p-checkbox>
                </div>
                <div class="p-col-3">
                    <input style="width: 100%;" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword" placeholder="Nhập từ khóa..." type="text">
                </div>
            </div>
        </p-header>

        <p-table #dt [value]="items" [(selection)]="selectedItems" [metaKeySelection]="true" [responsive]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th class="p-text-center" style="width: 50px">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'name'">Tên sự kiện
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'content'">Nội dung
                        <p-sortIcon [field]="'content'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'fromDate'">Từ ngày
                        <p-sortIcon [field]="'fromDate'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'toDate'">Đến ngày
                        <p-sortIcon [field]="'toDate'"></p-sortIcon>
                    </th>
                    <th style="width: 150px" class="p-text-center" [pSortableColumn]="'discountAmount'">Giảm giá theo giá
                        <p-sortIcon [field]="'discountAmount'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" style="width: 150px" [pSortableColumn]="'discountPercent'">Giảm giá theo %
                        <p-sortIcon [field]="'discountPercent'"></p-sortIcon>
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pSelectableRow]="row" [pSelectableRowIndex]="row">
                    <td style="width: 50px">
                        <p-tableCheckbox [value]="row"></p-tableCheckbox>
                    </td>
                    <td hidden>{{row.id}}</td>
                    <td>{{row.name | formatData: 25}}</td>
                    <td>{{row.content | formatData: 30}}</td>
                    <td>{{row.fromDate}}</td>
                    <td>{{row.toDate}}</td>
                    <td style="width: 150px">{{row.discountAmount}}</td>
                    <td style="width: 150px">{{row.discountPercent}}</td>
                    <td hidden>{{row.status}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div style="text-align: left" class="font-weight-bold">
                    Tổng số bản ghi: {{totalRecords | number}}
                </div>
            </ng-template>
        </p-table>
        <p-footer>

            <p-paginator dropdownAppendTo="body" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)" [rowsPerPageOptions]="[5,10,20,100]"></p-paginator>
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <p-progressSpinner [style]="{width: '100px', height: '100px', position: 'absolute',top: '25%',left: '50%'}" strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
            </p-blockUI>
        </p-footer>
    </p-panel>

    <p-panel #pnlCourses *ngIf="showCourses">
        <p-header>
            <div class="p-col-12">
                <button style="margin-right: 5px;" appPermission appFunction="Promotions" appAction="CREATE" pButton type="button" label="Thêm Khóa Học" icon="fa fa-plus" *ngIf="selectedItems != null" (click)="addCoursesInPromotion()"></button>
                <button style="margin-right: 5px;" appPermission appFunction="Promotions" appAction="DELETE" pButton type="button" label="Xóa Khóa Học" icon="fa fa-remove" class="p-button-danger" *ngIf="selectedCourseItems.length > 0" (click)="removeCoursesInPromotion()"></button>
            </div>
        </p-header>
        <p-table #dt2 [value]="courses" [(selection)]="selectedCourseItems" [metaKeySelection]="true" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px;">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th class="p-text-center" style="width: 150px" [pSortableColumn]="'image'">Ảnh
                        <p-sortIcon [field]="'image'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'name'">Tên
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'content'">Nội dung
                        <p-sortIcon [field]="'content'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'description'">Mô tả
                        <p-sortIcon [field]="'description'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'price'">Giá
                        <p-sortIcon [field]="'price'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" [pSortableColumn]="'categoryName'">Tên danh mục
                        <p-sortIcon [field]="'categoryName'"></p-sortIcon>
                    </th>
                    <th class="p-text-center" style="width: 150px" [pSortableColumn]="'status'">Trạng thái
                        <p-sortIcon [field]="'status'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pSelectableRow]="row" [pSelectableRowIndex]="row">
                    <td style="width: 50px">
                        <p-tableCheckbox [value]="row"></p-tableCheckbox>
                    </td>
                    <td style="width: 150px">
                        <img style="width: 120px" src="{{backendApiUrl + row.image}}" alt="Hinh anh">
                    </td>
                    <td>{{row.name | formatData: 30}}</td>
                    <td>{{row.content | formatData: 30}}</td>
                    <td>{{row.description | formatData: 30}}</td>
                    <td>{{row.price | currency:'VND':'symbol':'1.0-3' }}</td>
                    <td>{{row.categoryName}}</td>
                    <td style="width: 150px">{{row.status | formatStatusCourses}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div style="text-align: left" class="font-weight-bold">
                    Tổng số khóa học: {{totalCoursesRecords}}
                </div>
            </ng-template>
        </p-table>
        <p-blockUI [target]="pnlCourses" [blocked]="blockedPanelCourses">
            <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}" strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
        </p-blockUI>
    </p-panel>
</div>